<div class="main-container">
  <div class="todo-list-container">
    <form
      action=""
      class="input-container"
      [formGroup]="formInput"
      (ngSubmit)="onAddPost()"
    >
      <label for="title">Title:</label>
      <input type="text" formControlName="title" />
      <label for="input">Note: </label>
      <input type="text" formControlName="input" class="input-box" />
      <button type="submit" class="input-btn">Enter</button>
    </form>
    <div class="todo-list">
      <div *ngFor="let todo of list$ | async">
        <div class="todo-list-item">
          <div class="id">{{ todo.id }}</div>
          <div class="title">
            {{ todo.title }}
          </div>
          <div class="note">
            {{ todo.note }}
          </div>
          <button (click)="toggleEditor(todo.id)">Edit</button>
          <button (click)="deletePost(todo.id)">Delete</button>
        </div>
        <hr />
      </div>
    </div>
  </div>

  <div *ngIf="editor" class="editor">
    <form action="" [formGroup]="formUpdate" (ngSubmit)="updatePost()" class="editor-form">
      <label for="title">Title:</label>
      <input type="text" formControlName="titleupdate" />
      <label for="input">Note: </label>
      <input type="text" formControlName="noteupdate" class="input-box" />
      <button type="submit" class="input-btn">Enter</button>
    </form>
  </div>
</div>
